@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Playfair+Display&family=Roboto:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display&family=Roboto:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montez&family=Montserrat:wght@400;700&family=Playfair+Display&family=Roboto:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    height: auto;
    max-width: 100%;
}

body {
    padding: 0 clamp(.75rem, -0.68rem + 6.1vw, 4.813rem);
    margin: 0 7vw;
}

.conteiner__header {
    padding-top: 30px;
}

.header__title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 3rem;
}

.conteiner__desc {
    display: flex;
    align-items: first baseline;
    gap: 18px;
}

.desc__recipe {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: .88rem;
    max-width: 592px;
    width: 100%;
}

.photo__img {
    margin-top: 40px;
    object-fit: cover;
}

@media (min-width: 1441px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .conteiner__main {
        display: flex;
        width: 1200px;
    }

    .header__title {
        font-size: 5rem;
    }

    .desc__recipe {
        font-size: 1.5rem;
        max-width: 900px;
    }
}

@media (max-width: 768px) {
    body {
        margin: 0;
        padding: 0 clamp(.75rem, -0.68rem + 4.1vw, 4.813rem);
    }
}

@media (max-width: 615px) {
    .header__title {
        font-size: 2.25rem;
    }
}

@media (max-width: 470px) {
    .conteiner__header {
        padding-top: 15px;
    }

    .header__title {
        font-size: 1.5rem;
    }

    .desc__recipe {
        font-size: .75rem;
    }

    .photo__img {
        margin-top: 25px;
        border-radius: 15px;
    }
}

/*------------------ main menu ----------------------*/

.conteiner__main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 30px;
}

.conteiner__menu {
    margin-top: 40px;
    max-width: 216px;
    width: 100%;
    max-height: 375px;
    border-radius: 10px;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.081);
}

.menu__item {
    padding: 45px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item {
    padding: 10px 40px;
    display: flex;
    gap: 10px;
}

.servings {
    color: #F2994A;
    padding-top: 2px;
}

.desc {
    color: #BDBDBD;
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    font-size: .65rem;
    padding-bottom: 2px;
    text-transform: uppercase;
}

.desc__time {
    padding-top: 2px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: .88rem;
}

@media (max-width: 890px) {
    .conteiner__main {
        flex-direction: column;
    }

    .conteiner__menu {
        margin: 0;
        max-width: 890px;
        width: 100%;
        box-shadow: none;
    }

    .menu__item {
        padding: 20px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .menu__item .item:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .item {
        padding: 20px;
    }
}

@media (max-width: 600px) {
    .menu__item {
        padding: 5px 0;
    }

    .item {
        padding: 5px;
    }

    .desc {
        font-size: .50rem;
    }

    .servings {
        font-size: .65rem;
    }

    .desc__time {
        font-size: .65rem;
    }

    .svg__img {
        width: 28px;
    }
}

@media (max-width: 374px) {
    .item {
        gap: 5px;
    }
}

/* ----------------- main ingredients / instructions ------------------ */

.conteiner__second {
    margin-top: 40px;
}

@media (max-width: 890px) {
    .conteiner__second {
        margin-top: 0px;
    }
}

.second__title {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 35px;
}

.topic__ingredients {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    font-size: 1.13rem;
    margin-bottom: 35px;
}

.ingredients__item {
    display: flex;
    gap: 15px;
    margin: 25px 0;
}

.box__ingredients {
    margin-bottom: 35px;
}

.box {
    border: 1px solid #000;
    border-radius: 4px;
    max-width: 25px;
    width: 100%;
    height: 25px;
}

.desc__ingredients {
    font-family: 'Montserrat';
    font-weight: 400;
    max-width: 500px;
    width: 100%;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .desc__ingredients {
        max-width: 100%;
    }
}

span {
    font-weight: bold;
}

.third__title {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 35px;
}

.instructions__item {
    display: flex;
    gap: 15px;
    margin: 25px 0;
}

.box__number {
    border: 1px solid #F2994A;
    border-radius: 4px;
    background-color: #F2994A;
    max-width: 32px;
    width: 100%;
    height: 32px;
}

.number {
    font-size: 26px;
    text-align: center;
    font-family: 'Montez', cursive;
    font-weight: bold;
    color: #FFF;
}

.desc__instructions {
    font-family: 'Montserrat';
    font-weight: 400;
    max-width: 500px;
    width: 100%;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .desc__instructions {
        max-width: 100%;
    }
}

.source {
    margin: 40px 0;
}

.source__link {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    color: #BDBDBD;
    font-size: 1rem;
}

@media (min-width: 1441px) {
    .second__title {
        font-size: 3rem;
    }

    .topic__ingredients {
        font-size: 2rem;
    }

    .third__title {
        font-size: 3rem;
    }

    .desc__ingredients {
        font-size: 1.5rem;
    }

    .desc__instructions {
        font-size: 1.5rem;
    }

    .source__link {
        font-size: 1.5rem;
    }

    .ingredients__item {
        margin: 60px 0;
    }

    .desc__ingredients {
        max-width: 700px;
    }

    .instructions__item {
        margin: 60px 0;
    }

    .desc__instructions {
        max-width: 700px;
    }
}

@media (max-width: 425px) {
    .desc__ingredients {
        font-size: .75rem;
    }

    .desc__instructions {
        font-size: .75rem;
    }

    .source__link {
        font-size: .75rem;
    }
}

/* --------------------- footer ------------------------- */

.conteiner__footer {
    padding: 50px 0 10px 0;
}

.footer__copyright {
    text-align: center;
    color: #828282;
    font-size: .88rem;
    font-family: 'Montserrat';
    font-weight: 500;
}

.copyright__owner {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}